.center{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 650px;
}


  .Button{
    margin-left: 700px;
    color: white;
    height: 40px;
    background-color:blue;
  }